.jumbotron {
  padding-top: 6rem;
  background-color: #98e7b7a4;
}

#projects {
  background-color: #98e7b7a4;
}

section {
  padding-top: 5rem;
}
gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
